.contenedor_tabla {
  max-width: 600px;
  margin: 80px auto;
  padding: 24px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

/* Efecto hover */
button:hover {
  transform: scale(1.05);
}