<div class="contenedor_acciones">
  <h2>¿Qué desea realizar?</h2>

  <div class="contenedor_botones">
    <button mat-raised-button color="primary" routerLink="alta">
      <mat-icon>add</mat-icon> Alta
    </button>
    <button mat-raised-button color="warn" routerLink="baja">
      <mat-icon>delete</mat-icon> Baja
    </button>
    <button mat-raised-button color="accent" routerLink="modificar">
      <mat-icon>edit</mat-icon> Modificar
    </button>
    <button mat-raised-button color="primary" routerLink="listado">
      <mat-icon>list</mat-icon> Ver listado
    </button>
  </div>
</div>
